.header {
}
.main {
  padding: 2%;
  background-color: #fff5ee;
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #f7e9ec;
}

.tabs {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  list-style-type: none;
  background-color: #e6e6e6;
}
.tabs__tab {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.tabs__links {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.tabs__link {
  height: 30px;
  color: #000;
  text-decoration: none;
  font-size: 25px;
}
.tabs__content {
  max-width: 1100px;
}
.random-button {
  width: 100px;
  height: 30px;
  color: #000;
}

.tabs__tab li:nth-child(1) .tabs__content {
  background-color: #ead2f3;
}
.tabs__link:nth-child(1) {
  background-color: #ead2f3;
}

.tabs__tab li:nth-child(2) .tabs__content {
  background-color: #f3f3de;
}
.tabs__link:nth-child(2) {
  background-color: #f3f3de;
}
.tabs__tab li:nth-child(3) .tabs__content {
  background-color: #d2f3e6;
}
.tabs__link:nth-child(3) {
  background-color: #d2f3e6;
}
.tabs__tab li:nth-child(4) .tabs__content {
  background-color: #f3d2d3;
}
.tabs__link:nth-child(4) {
  background-color: #f3d2d3;
}

 /* ------------------------------------------Coloros--------------------------------------------- */
 
.colors {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.colors__color {
  width: 200px;
  height: 180px;
  margin: 10px;
}

.two {
}
.three {
}
.four {
}
.footer {
}